<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='resultstyle.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <form action="http://192.168.1.111:5000" method="post">
	   <table class="center">
            <tbody>
               <tr>
                  {% for value in result[0:4] %}
		  <td><input type="text" name="val[]" value= "{{value}}" size="4" readonly></td>
		  {% endfor %}
	       </tr>  
	       <tr>
                  {% for value in result[4:8] %}
		  <td><input type="text" name="val[]" value= "{{value}}" size="4" readonly></td>
		  {% endfor %}
	       </tr> 
	       <tr>
                  {% for value in result[8:12] %}
		  <td><input type="text" name="val[]" value= "{{value}}" size="4" readonly></td>
		  {% endfor %}
	       </tr> 
	       <tr>
                  {% for value in result[12:16] %}
		  <td><input type="text" name="val[]" value= "{{value}}" size="4" readonly></td>
		  {% endfor %}
	       </tr> 
	       <tr>
                  {% for value in result[16:] %}
		  <td><input type="text" name="val[]" value= "{{value}}" size="4" readonly></td>
		  {% endfor %}
	       </tr> 
            </tbody>
         </table>
	 <div class="container">
	    <button type="submit" name="Edit" value="Edit">Edit Tiles</button>
	    <button type="submit" name="Clear" value="Clear">Start Over</button>
         </div>
	 </form>
	 <p align="center">Words found: {{wordList|length}}</p>
	 <div class="row">
            <div class="column">
	       {% for value in wordList[0:(wordList|length+1)//2] %}
	       <p style="margin:0em" align="center">{{value}}</p>
	       {% endfor %}
            </div>
            <div class="column">
	       {% for value in wordList[(wordList|length+1)//2:] %}
	       <p style="margin:0em" align="center">{{value}}</p>
	       {% endfor %}
            </div>
         </div>
   </body>
</html>
